canvas{
    width: 100%;
    height: 100%;
    background: black;
}
/* the margin is set 0 so that the canvas streches all the way down */
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}